.info-banner-box {
  height: 220px;
}

a {
  color:inherit;
}

a :hover {
  color: #ffc107;
  text-decoration: none !important;
}

.color-disable {
  color: #a0a0a0;
}


.opaci {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 193, 7, .5);
  border-radius: 2px;
}

.item-album:hover .opaci {
  visibility: visible;
}

.item-album .opaci {
  visibility: hidden;
}
@media screen and (max-width: 540px){
  .info-banner-box {
    height: 370px;
  }
}