.info-banner-box {
  height: 220px;
}

a {
  color:inherit;
}

a :hover {
  color: #ffc107;
  text-decoration: none !important;
}

.color-disable {
  color: #a0a0a0;
}

@media screen and (max-width: 540px){
  .info-banner-box {
    height: 460px;
  }
}