.header .z-logo {
    background-image: url('../../images/logo-bk.png');
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 32px;
    background-size: cover;
    font-size: 0;
    margin: 19px 0 19px 31px;
}
.z-header-search-wrap {
    position: relative;
    display: inline-block;
    padding: 15px 0;
    margin: 0 0 0 7px;
}
.z-input-group {
    position: relative;
    min-width: 200px;
    height: 40px;
}
.z-input-group.header-search-group {
    width: 540px;
    border: 1px solid rgba(219,219,219,.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.z-input-group .icon {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
    color: #495057;
}
.z-input-group .input-wrapper {
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
}
.z-input-group input.form-control {
    margin: 0;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #495057;
    background-clip: padding-box;
    border: none;
    border: 0;
    position: relative;
    top: 2px;
    height: 34px;
    padding: 5px 0;
    line-height: 34px;
    background-color: transparent;
}
.form-control.z-input-placeholder:focus{
    box-shadow: none;
}
.user-profile-container {
    margin-top: 15px;
}
.thumb-40 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    width: 40px;
}

.thumb-40 img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
}
.z-login-wrap {
    position: relative;
    right: 30px;
}
.z-card{
    display: flex;
    position: relative;
}
.z-card .thumb-130-73, .z-card .thumb-40 {
    float: left;
    margin-right: 10px;
}
.user-profile-container .z-card .thumb-40 img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.user-profile-container .z-card .card-info {
    width: 120px;
}
.mar-top-10 {
    margin-top: 10px!important;
}
.z-card .card-info .title, .z-card .card-info .title a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.36;
    color: #32323d;
}
.z-card .card-info .title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-profile-container .card-40 .title a {
    font-weight: 500;
    color: #32323d;
}
.header .z-menu-bar {
    background-color: #f7f7f7;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.header .z-menu-bar .bg-light {
    background-color: transparent !important;
}
.navbar {
    padding: 0 1rem;
    width: 100%;
}

.z-card .card-info {
    white-space: nowrap;
    position: relative;
}
.z-card .card-info .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.36;
    color: #32323d;
    overflow: hidden;
    text-overflow: ellipsis;
}
.z-nav {
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.z-nav>li {
    position: relative;
    float: left;
    display: inline-block;
}
.z-nav>li>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.z-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    color: #32323d;
    padding: 15px;
    display: block;
    float: left;
    border-bottom: 2px solid transparent;
    text-transform: uppercase!important;
}
.z-nav .nav-link:focus {
    color: #65509e;
    border: none;
    outline: none;
}
.z-nav .nav-item.active .nav-link {
    border-bottom: 2px solid #65509e;
    color: #65509e;
}
#main-body {
    min-height: 900px;
    -webkit-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.3,0,.4,1);
    -o-transition-timing-function: cubic-bezier(.3,0,.4,1);
    transition-timing-function: cubic-bezier(.3,0,.4,1);
}
.bg-page {
    margin-left: auto;
    margin-right: auto;
    background-color: #fafbfc;
    background-image: none;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}
#slidershow {
    position: relative;
}
.z-slider-main {
    margin: 10px 0;
}
.slides img {
    width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 15px;
}
section {
    margin-bottom: 50px;
}
.box-title {
    position: relative;
}
.z-box-title {
    font-size: 24px;
    font-weight: 700;
    color: #32323d;
    margin-bottom: 30px;
}
.z-nav-tab-wrapper {
    position: absolute;
    top: 8px;
    left: 30%;
    right: 30px;
}
.z-btn {
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 24px;
    border: 0;
    padding: 4px 12px;
    background-color: #65509e;
    color: #fcfcfc !important;
    cursor: pointer;
}
.z-btn.radius-4 {
    border-radius: 4px;
}
.z-btn>.icon {
    position: relative;
    top: 2px;
    font-size: 14px;
    cursor: pointer;
}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    display: none;
}
.list-song.list-song-new li.active, .list-song.list-song-new li:hover, .list-song.list-song-suggest>li:hover {
    background-color: #efefef;
}


.list-song.list-song-new {
    max-height: 215px;
    padding-right: 15px;
    list-style: none;
}
.list-song {
    overflow-y: auto;
}
.list-song.list-song-new li {
    margin-bottom: 5px;
}
.list-song li {
    line-height: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.list-song .z-card {
    display: block;
}
.z-card:last-child {
    border-bottom: none;
}
.thumb-40>.icon {
    height: 28px;
    width: 28px;
    margin-top: -14px;
    margin-left: -14px;
    z-index: 1;
    color: #fcfcfc;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
}
.opac {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(9,7,13,.6);
    border-radius: 2px;
}
.thumb-40:hover .opac {
    visibility: visible;
}
.thumb-40 .opac {
    visibility: hidden;
}
.z-card .card-info {
    white-space: nowrap;
    position: relative;
}
.z-card .card-info .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.36;
    color: #32323d;
    overflow: hidden;
    text-overflow: ellipsis;
}
.z-card .card-info .title a {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: inherit;
    white-space: nowrap;
}
.z-card .card-info .artist, .z-card .card-info .z-num-song {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #a0a0a0;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.z-card .card-info .artist a, .z-card .card-info .z-num-song a {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: #a0a0a0;
}
.z-card .extension {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.z-card .extension .list-buttons {
    color: #2a2b3f;
    height: 100%;
}
.z-card .extension .list-buttons .hover-view, .z-card .extension .list-buttons .normal-view {
    position: absolute;
    right: 0;
    display: none;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    border-width: 0 0 0 1px;
    border-color: #dbdbdb;
}
.list-song li .list-buttons .hover-view {
    background-color: #efefef;
}
.z-card .extension .list-buttons .hover-view>li, .z-card .extension .list-buttons .normal-view>li {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 10px;
}
.z-card .extension .list-buttons .hover-view .icon, .z-card .extension .list-buttons .normal-view .icon {
    color: #2a2b3f;
    font-size: 18px;
}
.z-card:hover .extension .list-buttons .hover-view {
    display: flex;
}
ul.hover-view {
    list-style: none;
}
.flex-control-nav {
    left: 0;
}
#z-your-music {
    background-color: #fff;
    padding: 50px 0;
}
.z-album-item {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    max-width: 210px;
}
.z-card-item {
    float: left;
    line-height: 0;
    margin: 0 0 30px 30px;
    
}
.card-210 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 210px;
    width: 210px;
}
.card-210 .opac {
    visibility: hidden;
}
.card-210:hover .opac, .card-210:hover .player-actions {
    visibility: visible;
}
.player-actions {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    color: #fcfcfc;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-album-item .player-actions {
    margin-top: 50%;
    height: 0;
}
.player-actions ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
}
.player-actions ul li {
    margin: auto 0;
}
.player-actions ul li a>.icon {
    margin: 0 36px;
}
.player-actions ul li a>.icon {
    font-size: 24px;
    color: #fcfcfc;
}
.player-actions .fa-play-circle:before {
    font-size: 50px;
}
.z-card-item .title-album {
    width: 210px;
    font-size: 16px;
    overflow: hidden;
}
.z-card-item .title-album a {
    font-size: 15px;
    font-weight: 600;
    color: #32323d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.56;
    margin: 8px 0 5px;
}
.z-card-item .artist {
    padding: 0;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.z-card-item .artist a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.36;
    color: #a0a0a0;
}
#category {
    background-color: #fff;
    padding: 20px 0;
}
.card-210-118, .card-450-265 {
    position: relative;
    line-height: 0;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.card-210-118 {
    width: 210px;
    height: 118px;
}
.card-210-118 .title-topic {
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    top: 50px;
    left: 0;
    width: 100%;
    height: 68px;
    color: #fcfcfc;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.8));
    padding-top: 30px;
    -webkit-transition: padding-top .5s;
    -moz-transition: padding-top .5s;
    transition: padding-top .5s;
}
.card-210-118:hover .title-topic {
    padding-top: 20px;
}
#albumhot .z-nav>li {
    float: right;
}
#footer {
    background-color: #09070d;
    padding: 25px 0;
}
.sub-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#footer .z-logo {
    float: left;
    display: inline-block;
    background-image: url(../../images/logo-mp-3.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: contain;
    margin-right: 15px;
}
#footer .z-license-info {
    float: left;
    color: #fcfcfc;
}
#footer .z-license-info .z-prod-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#footer .z-license-info .z-copyright {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
#footer .z-license-info .z-license-num, #footer .z-nav-footer li .z-link {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 500;
}
#footer .z-nav-footer {
    line-height: 1.8;
    list-style: none;
}
#footer .z-nav-footer li {
    display: inline-block;
    float: left;
    width: 110px;
}
@media screen and (max-width: 1024px) {
    .flex-control-nav {
        bottom: -20px;
        left: 0;
    }
    .flex-control-nav {
        position: relative;
    }
    .z-album-item {
        max-width: 150px;
    }
    .z-card-item {
        margin: 0 0 30px 0;
    }
    .z-card-item .title-album {
        width: 150px;
    }
    .card-210 {
        width: 150px;
        height: 150px;
    }
    .card-210-118 {
        width: 150px;
        height: 85px;
    }
    .card-210-118 .title-topic {
        padding-top: 15px;
    }
    
}
@media screen and (max-width: 540px) {
    section {
        margin-bottom: 20px;
    }
    .z-input-group.header-search-group {
        width: 100%;
    }
    .z-header-search-wrap {
        display: block;
    }
    .flex-control-nav {
        bottom: initial;
        left: initial;
    }
    .flex-direction-nav a {
        height: 60px;
    }
    .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
        display: block;
        opacity: 1;
    }
    .z-nav-tab-wrapper {
        position: initial;
    }
    .z-nav-tab-wrapper ul {
        padding-left: 0;
    }
    .z-nav-tab-wrapper button.nav-link {
        padding: 10px !important;
    }
    .z-nav>li {
        width: 100%;
    }
    .info-banner-box .d-flex {
        display: block !important;
    } 
}